*.disabled
saves/*
logs/*
xaero/*
ESM/*
dynamic-resource-pack-cache/*
dynamic-data-pack-cache/*
crash-reports/*

.curseclient
minecraftinstance.json
usercache.json
usernamecache.json
downloads/log.json
local/kubejs/dev.json
XaeroWaypoints_BACKUP240807/New World/config.txt
command_history.txt
config/jei/world/local/New_World/lookupHistory.json
config/oculus.properties
/particular_cache
/data
config/breakguard.properties
config/embeddium-options.json
config/fabric/indigo-renderer.properties
config/oculus.properties
config/rare_ice.properties
options.txt
